#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-size: 0.9em;
}

#latest-data {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .value {
    font-size: 1.5rem;
    margin-inline-end: 0.5rem;
  }

  & > div {
    list-style: none;
    width: 20rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background: #ffd8e5;
    border: solid 3px #ff9abc;
    border-radius: 0.5rem;
  }
}
