#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5vw;
}

body {
  font-size: 0.9em;
}

#latest-data {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 30rem) {
    grid-template-columns: 1fr;
  }

  .value {
    font-size: 1.5rem;
    margin-inline-end: 0.5rem;
  }

  & > div {
    list-style: none;
    padding: 0.5rem;
    background: #ffd8e5;
    border: solid 3px #ff9abc;
    border-radius: 0.5rem;
  }
}

.chart {
  max-width: min(90vw, 1280px);
  height: 28rem;

  & iframe {
    width: 100%;
    height: 100%;
  }
}

.table {
  max-width: min(90vw, 1280px);
  overflow-x: scroll;
}
